# COPY AND REMOVE THE .EXAMPLE FROM THE FILE NAME

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

JWT_SECRET=""

MAIL_HOST='smtp.ethereal.email'
MAIL_PORT='465'
MAIL_USER='email@email.com'
MAIL_PASS='senha'

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
AWS_S3_BUCKET="belomax-documents-test-bucket"
AWS_LOCALSTACK_ENDPOINT="localhost:4566"

REDIS_HOST="localhost"
REDIS_PORT="6379"

BELOMAX_URL='localhost:5173'

